@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background: #1c1e22;
  color: #ffffff;
  font-family: roboto;
}

section {
  padding-top: 110px;
  padding-bottom: 110px;
}
h1 {
  margin-bottom: 14px;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: roboto_slab;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: alexBrush;
  src: url(../../../public/assets/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../../../public/assets/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../../../public/assets/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto_slab;
  src: url(../../../public/assets/RobotoSlab-Regular.ttf);
}

.bg-grey {
  background-color: #1c1e22;
}

.font-bold {
  font-family: roboto-bold;
}
