* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background: #1c1e22;
  color: #919296;
}

.container {
  height: 100vh;
  width: 75%;
}

@font-face {
  font-family: alexBrush;
  src: url(../../../public/assets/AlexBrush-Regular.ttf);
}
