@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1c1e22;
  color: #8c8c8c;
  font-family: roboto;
}

section {
  padding-top: 110px;
  padding-bottom: 110px;
}
h1 {
  margin-bottom: 14px;
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: roboto_slab;
  font-size: 1.875rem;
  letter-spacing: 0.05em;
}

@font-face {
  font-family: alexBrush;
  src: url(../../../public/assets/font-family/AlexBrush-Regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../../../public/assets/font-family/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(../../../public/assets/font-family/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto_slab;
  src: url(../../../public/assets/font-family/RobotoSlab-Regular.ttf);
}

.font-bold {
  font-family: roboto-bold;
}

.text-xxs {
  font-size: 11px;
}

.text-3xs {
  font-size: 9px;
}

.lien {
  font-style: italic;
  color: rgb(30, 95, 218);
  text-decoration: underline;
  text-underline-offset: 3px ;
}

.bg-gray {
  background-color: #1c1e22;
}

.bg-secondary {
  background-color: #171717;
}
