.banner {
  background-image: url("../../assets/baies.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  height: 500px;
}

.banner h1 {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;

  font-family: alexBrush;
  color: white;
}

.circle {
  width: 1100px;
  height: 1000px;
  border-radius: 50%;
}

.border-linear-gradient {
  background: linear-gradient(135deg, #ff2222 0% 50%, #ed8b02e6);
}

.word_bg {
  background: #1f2937;
}

.word {
  font-size: 1.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(60deg, #ff0404, #ed8b02e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.words-slide {
  white-space: nowrap;
  animation: slide 18s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.about_area_3::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 60%;
  bottom: 0px;
  background-color: #b5b5b5;
}

.sub-title {
  font-size: 10px;
}
